<html>
<head>
	<title>open book project</title>
	<link rel="shortcut icon" href="../../images/lit.ico">
	<link rel="stylesheet" type="text/css" href="../../css/book.css">
	<link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="../../js/book/book.js"></script>
</head>
<body>
	<div class = "container">
		<button class = "control" id = "read">Save</button>
		<button class = "control" id = "edit">Edit</button>
		<button class = "control" id = "fork">Version</button>
		<span id = "linenumber">Line No.</span>
		<input type="number" id = "lineinput" min="1">
		<fieldset id = "main" style = "margin-bottom:60px">
			<div class = "inner">
				<span id ="title"><%=title%></span>
				<div style="float:right;margin-top:10px;">
					Version: <span id = "version"><%=version%></span>
				</div>
				<div class = "linedcontainer">
					<div class = 'lines'>
						<div class='codelines'></div>
					</div>
					<div id ="pre"><%=fixed%></div>
					<div class="lined"><%=content%></div>
				</div>
				<div id="continue">
					It is your turn to add to the story :)
					<br> 
					Click edit to change this story.
				</div>
			</div>
		</fieldset>
	</div>
</body>
</html>