<html>
<head>
	<title>deal finder</title>
	<meta name="viewport" content="width=device-width"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="css/dealfinder.css">
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var size = 64;
			var border = 2;
			function gomobile(){
				// $('body').width('275');
				// $('body').height('450');
				// $('html').height('450');
				// $('html').height('450');
				$('.container').height('100%');
				$('.container').width('100%');
				$('.container').css('margin-top', '0');
				$('#top').height('190');
				$('#middle').css('top','190px');
				$('img').height('220')
				$('img').width('220')
				$('p').css('margin', '40px 0');
				size = 220;
				border = 4;
				// $('#top p').css('font-size','60');
			}

			if(/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) || $(window).height() > $(window).width() ) {
				gomobile();
			}
			$('img').click(function(){
				if($(this).css('border')[0] == '0'){
					$(this).css('border', border + 'px solid midnightblue');	
					$(this).height(size-4);	
					$(this).width(size-4);
				}else{
					$(this).css('border','0px solid');		
					$(this).height(size);	
					$(this).width(size);
				}
			});
		})
	</script>
</head>
<body>
	<div class="container">
		<div id ="top">
			<span>Quickpick</span>
		</div>
		<div id = "middle">
			<p>I am looking for a..</p>
			<input type="text" placeholder="bicycle">
			<p>It is going to cost between</p>
			<span class="space">$</span><input type="number" placeholder ="0"> and $<input type="number" placeholder="100">
			<p style="margin-bottom:10px;">Help me look through</p>
			<img src="images/ksl.png">
			<img src="http://a3.mzstatic.com/us/r30/Purple6/v4/42/5e/fa/425efa51-2b0c-f018-b882-3eeb253e3d4a/mzl.yamvwrka.png">
			<img src="https://ssl.gstatic.com/android/market/com.apppeople.craigslistassist/hi-256-0-59e2ec73db7c2efc958aaf61251be5a9c48ecba5">
			<p>Let me know at</p>
			<input type="text" placeholder="8011234567">
		</div>
		<div id = "buttonholder">
			<button>Find</button>
		</div>
	</div>	
</body>
</html>