<html>
<head>
	<title>deal finder</title>
	<meta name="viewport" content="width=device-width"/>
	<link rel="stylesheet" type="text/css" href="css/dealfinder.css">
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div id ="top">
			<span>Quickpick</span>
		</div>
		<div id = "middle">
			<p>I am looking for a..</p>
			<input id = "search" type="text" placeholder="bicycle">
			<p>in</p>
			<select id="main">
			</select>
			<div id="subdiv">
				<p>and</p>
				<select id ="sub">
				</select>
			</div>
			<p>It is going to cost between</p>
			<span class="space">$</span><input  class="inputnum" id ="min" type="text" placeholder ="0"> and $<input  class="inputnum" type="text" id="max" placeholder="100">
			<p style="margin-bottom:10px;">I want to use..</p>
			<img src="images/ksl.png">
<!-- 			<img src="http://a3.mzstatic.com/us/r30/Purple6/v4/42/5e/fa/425efa51-2b0c-f018-b882-3eeb253e3d4a/mzl.yamvwrka.png"> -->
			<img src="https://ssl.gstatic.com/android/market/com.apppeople.craigslistassist/hi-256-0-59e2ec73db7c2efc958aaf61251be5a9c48ecba5">
			<p>Let me know at</p>
			<input type="text" id="num" placeholder="8011234567">
			<div style="text-align:center;"><button id="find">Find</button></div>
		</div>
	</div>	
</body>
<script src="js/deal/deal.js"></script>
</html>