.container{
	width:75%;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	background-color: #ffffff;
	max-width:800px;
	display: block;
}
.bullet{
	margin-left: 30px; 
}
body{
	background-color: #f8f8f8;
	padding: 0;
	margin:0;
}
fieldset{
/*  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;*/
  margin-bottom: 60px;
  padding-left:25px;
  padding-right:25px;
}
.inner{
	/*padding:40px;*/
}
.control{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border:1px solid;
	width:70px;
	position: fixed;
	left:15%;
	background-color: peachpuff;
}
button:hover{
	border:1px solid white;
}
button:active{
	border:1px solid blue;
}
#read{
	top:80px;
}
#edit{
	top:80px;
}
#fork{
	top:120px;
}
#test{
	top:220px;
}
#linenumber{
	position:fixed;
	width:70px;
	top:160px;
	left:14%;
}
#lineinput{
	position: fixed;
	width: 70px;
	padding-top: 3px;
	padding-bottom: 3px;
	top:180px;
	left:15%;
	border:1px solid;
}

.lined{
	resize:none;
	width:600px;
	height:100%;
	border:none;
	text-align: left;
	margin-bottom: 60px;
	display: inline;
	font-size: 15pt;
	line-height: normal !important;
	font-family: 'Quicksand' sans-serif;
	color:darkslategrey;
}

#pre{
	font-size: 15pt;
}

p, span, div{
	font-family: 'Quicksand' sans-serif;
}

.lines{
	float:left;
	width:50px;
	height:100%;
}

.linedcontainer{
	border-top: 1px solid #c0c0c0;
	padding-bottom: 120px;
	padding-top: 10px;
	border-bottom: 1px solid #c0c0c0;
}

.codelines{
	font-size: 15pt;
	font-family: monospace;
	line-height: normal !important;
	text-align: right;
	margin-right: 5px;
	border-right: 1px solid #c0c0c0;
	padding-right: 5px;
}

#title{
	font-family: 'Loved by the King';
	font-size: 34pt;
	margin-top: 20px;
	margin-left: 40px;
	margin-bottom: 10px;
	text-align: bottom;
}

#continue{
	margin-top: 10px;
	text-align: center;
	margin-bottom: 35px;
}

.linked{
	text-align: center;
	color:red;
	border:1px solid black;
}

#background{
	width: 100%;
	height:auto;
	z-index: -1;
	position: fixed;
	top:0;
}


